*~
Thumbs.db
debian/
debian.template/changelog
debian.template/changelog.commit
share/changelog/*
*.so
*.dll
*.dylib
*~
*.fossil
.fossil*
.settings*
.project
.fossil-settings
fossil
_FOSSIL_
.github/
.svn/
CVS/
/release*/
/debug*/
/rcompile*/
/dcompile*/
